<% provide(:title, @user.name) %>

<div class="row">

<div>
<h1> User Information </h1>
<%= gravatar_for @user %>
<div class = 'userr'>
<div> Name :<%= @user.name %> </div>
<div> Email :<%= @user.email %> </div>
<div> Phone :<%= @user.phone %> </div>
<div> Address :<%= @user.address %> </div>
</div>
</div>
</h1>



