<% provide(:title, @user.name) %>
<div class ='cennter'>

<section class="vh-100 userback" style="">
  <div class="container py-5 h-100">
   <%= will_paginate @microposts %>
  <div class="col-md-8 rightforuser">
 <% if @user.microposts.any? %> 
<h3>Microposts (<%= @user.microposts.count %>)</h3>
<ol class="microposts">
<%= render @microposts %>
</ol>
<%= will_paginate @microposts %>
<% end %>
    <div class="row d-flex justify-content-center align-items-center h-100 ">
    
      <div class="col col-md-9 col-lg-7 col-xl-5 ">
        <div class = 'backwhite'>
          <div class="card-body p-4 floatleft ">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/300822714_1153271978736545_1088646969732223615_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=6oRZvbc5IjgAX9avoRY&tn=dKo5jpKF-52URWfV&_nc_ht=scontent.fsgn2-4.fna&oh=00_AT-cS9KNlPfCwLeaDYb666RqlG6BYh3BWZGZ89LGrzj1xw&oe=631E5A39"
                  alt="Generic placeholder image" class="img-fluid"
                  style="width: 180px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ms-3 white ">
                <h5 class="mb-1"><%= @user.name %></h5>
                <h5 class="mb-1"><%= @user.email %> </h5>
                 <h5 class="mb-1"><%= @user.phone %></h5>
                  <h5 class="mb-1"><%= @user.address %> </h5>
                <p class="mb-2 pb-1 white" style="color: #2b2a2a;">Senior Journalist</p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 black"
                  style="background-color: #efefef;">
                  <div>
                    <p class="small text-muted mb-1">Articles</p>
                    <p class="mb-0">40</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Followers</p>
                    <p class="mb-0">1B</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Rating</p>
                    <p class="mb-0">8.5</p>
                   
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                  <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   
</div>
  </div>
  
</section>
</div>



