<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<nav class="navbar navbar-expand-lg  navbar-inverse">

  <div class="container-fluid">
  
    <span class= 'text' > BOOKSTORE </span>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <li><%= link_to "Home", root_path,class:"nav-link active white"%></li>
        </li>
        <li class="nav-item">
        <li>
        <%= link_to "Books", products_path ,class:"nav-link white" %></li>
          
       <% if true %>
        <li><%= link_to "Users",  users_path, class: 'nav-link white'%></li>
        <%end%>
        <% if logged_in? %><li>
         
          <% if create_shop?  %>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Edit shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <li><%= link_to "Edit information", edit_shop_path(current_user.shop) ,class:'dropdown-item ' %></li>
         <li><%= link_to "Add product", new_product_path ,class:'dropdown-item ' %></li>
          <li><%= link_to "All your product", shoppage_path,class:'dropdown-item ' %></li>
          </ul>
        </li>
            <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle white left" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="uil uil-user"></i>
          </a>
          <ul class="dropdown-menu"> 
          <li><%= link_to "Profile", current_user, class: 'dropdown-item ' %></li>
            <li><%= link_to "Settings",  edit_user_path(current_user) ,class:'dropdown-item ' %></li>
            <% if !create_shop?  %>
            <li><%= link_to "Create Shop", new_shop_path, class: 'dropdown-item ' %></li>
            <%end%>
            <li><hr class="dropdown-divider"></li>
           <li> <%= button_to "Log out", logout_path, method: :delete, class:  'btn white' %></li>
          </ul>
        </li>
        <% else %>
      <li><%= link_to "Log in", login_path, class:"nav-link white login" %>
      </li>
      <% end %>
      </ul>
      <form class="d-flex" action = "/search">
        <input class="form-control me-2" name = "q" type="text" placeholder="Search" aria-label="Search">
      <button class= 'btn btn-outline-success' type='submit' >Search </button>
      <%= link_to "#{current_order.order_items.size} items with value of #{current_order.sum}$", cart_path(current_order.order_items) %>
      </form>
      <%= link_to '#' do %>
  <i class="uil uil-shopping-cart-alt cart"></i> 
    <% end %>
</nav>
